<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <bindings>
      <wsHttpBinding>

        <binding name="NewBinding1" maxReceivedMessageSize="50000000" messageEncoding="Mtom" maxBufferPoolSize="50000000">
          <readerQuotas maxDepth="500000000" maxArrayLength="500000000" maxBytesPerRead="500000000" maxNameTableCharCount="500000000" maxStringContentLength="500000000" />
          <security mode="None" />
        </binding>

      </wsHttpBinding>
    </bindings>

    <services>

      <service behaviorConfiguration="Karatsuba.ServiciosWCF.ServicioMultiplicacionKaratsubaBehavior" name="Karatsuba.ServiciosWCF.ServicioMultiplicacionKaratsuba">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding1" contract="Karatsuba.ServiciosWCF.IServicioMultiplicacionKaratsuba" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:21670/ServicioMultiplicacionKaratsuba.svc" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>

      <serviceBehaviors>

        <behavior name="Karatsuba.ServiciosWCF.ServicioMultiplicacionKaratsubaBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>

      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
